@import url('https://fonts.googleapis.com/css?family=Limelight');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./movie-seats.jpg');
  background-size: cover;
  background-position: bottom;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Limelight', cursive;
  background: black;
  padding: .5em;
  width: 20%;
  margin: 0 0 1.2em 1.2em;
}

.App-intro {
  font-size: large;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 1.5em;
}

a {
  text-decoration: none;
  margin-left: 2em;
}

a:visited {
  color: #78000F;
}
